<div class="row">
  <div class="col-4"><p id="label"></p>
    Burgers ready to be Devoured!</p>
    <ul class="list-group">
    {{#each burger}}
      {{#unless this.devoured}}  
      <h5>{{this.burger_name}}</h5>
      {{/unless}}
    {{/each}}
    </ul>
  </div>
  <div class="col-4">
   <form>
      <div class="form-group">
        <input class="form-control" type="text" id="burger-input" placeholder="Name your burger here"/>
        
        <button class="mt-1 btn btn-block btn-success" id="submit-btn">Add Burger</button>
      </div>
    </form>
  </div>
  <div class="col-4"><p id="label">Burgers Devoured!</p>
    <ul class="list-group">
      {{#each burger}}
        {{#if this.devoured}}
        <h5>{{this.burger_name}}</h5>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

 