
   h1 {
    display: table-cell;
    text-align: center; 
    vertical-align: center;
    
   }

   .container {
    background: url('../img/pexels-photo-1639565 (1).jpeg') no-repeat center center;
    position: fixed;
    width: 100%;
    height: 350px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
  }
  
  .burgerTop {
    height: 350px;
    color: rgb(225, 240, 16);
    text-shadow: #444 0 1px 1px;
    background:transparent;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 45px;
  }

  body {
    width: 100%;
    height: 80%;
    width: 100%;
    top: 673px;
    /* left: 673px; */
    /* z-index: -1; */
  }
  